<!DOCTYPE html>
<!--
 @license
 Copyright 2022 Google LLC. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ description }}" />
    <title>{{ title }}</title>
    {%- if limited_ads == "true" %}
    <!---
     Load GPT from the limited ads URL to enable manual control of limited ads.
    --->
    <script
      async
      src="https://pagead2.googlesyndication.com/tag/js/gpt.js"
    ></script>
    {% else %}
    <script
      async
      src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"
      crossorigin="anonymous"
    ></script>
    {% endif -%}
    <script type="module" src="/sample.ts"></script>
    <style>{%- block styles %}{% endblock -%}</style>
  </head>
  <body>
    {%- block html %}{% endblock -%}
  </body>
</html>