{% extends '../../src/_includes/sample-layout.njk'%}
{% set limited_ads="true" %}
{% block html %}
  <div id="banner-ad" style="width: 728px; height: 90px"></div>
  <div>
    <button id="ltdButton">Limited Ads</button>
  </div>
{% endblock %}
{% block styles %}
  button::after {
    content: 'OFF';
    color: red;
    font-weight: bold;
  }

  button[data-enabled='true']::after {
    content: 'ON';
    color: green;
    font-weight: bold;
  }
{% endblock %}