{% extends '../../src/_includes/sample-layout.njk'%}
{% block html %}
  <div>
    <h1>GPT Training - Slot Refresh</h1>
    <div id="leaderboard1" style="width: 728px; height: 90px"></div>

    <div id="leaderboard2" style="width: 728px; height: 90px"></div>
  </div>

  <div>
    <!-- Refresh the first slot -->
    <button id="refreshTopButton">Refresh Top Ad</button>

    <!-- Refresh the second slot -->
    <button id="refreshBottomButton">Refresh Bottom Ad</button>

    <!-- Refresh both slots -->
    <button id="refreshAllButton">Refresh All Ads</button>

    <!-- Clear slots -->
    <button id="clearAllButton">Clear All Ads</button>
  </div>
{% endblock %}