{% extends '../../src/_includes/sample-layout.njk'%}
{% block html %}
  <div class="ads">
    <div id="banner-ad-1" style="width: 728px; height: 90px"></div>
    <div id="banner-ad-2" style="width: 728px; height: 90px"></div>
  </div>

  <div class="buttons">
    <button id="targetingButton" data-enabled="true">targeting</button>
  </div>
{% endblock %}
{% block styles %}
  .ads,
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  button::before {
    content: 'Disable ';
    color: red;
    font-weight: bold;
  }

  button[data-enabled='false']::before {
    content: 'Enable ';
    color: green;
    font-weight: bold;
  }
{% endblock %}