{% extends '../../src/_includes/sample-layout.njk'%}
{% block html %}
  <div id="static-ad-1" style="width: 100px; height: 100px"></div>
  <div class="content">
    <span id="status">Web interstitial is not supported on this page.</span>
    <p>
      <a id="link" href="https://www.example.com/">TRIGGER INTERSTITIAL</a>
    </p>
    <p>
      <!--
          You can prevent specific links from triggering GPT-managed web
          interstials by adding a data-google-interstitial="false" attribute to
          the anchor element or any ancestor of the anchor element.
        -->
      <a data-google-interstitial="false" href="https://www.example.com/">
        This link will never trigger an interstitial
      </a>
    </p>
  </div>
{% endblock %}
{% block styles %}
  #link {
    display: none;
  }

  div.content {
    position: fixed;
    top: 50%;
  }
{% endblock %}