{% extends '../../src/_includes/sample-layout.njk'%}
{% block html %}
  <div id="host"></div>
  <div class="controls">
    <button id="clear">Clear ad</button>
    <button id="refresh">Refresh ad</button>
  </div>
  <script>
    // Attach a shadow DOM to the host element and insert an ad container.
    // Ensure the shadow DOM is in open mode, to allow GPT access.
    const shadow = document.querySelector('#host').attachShadow({mode: 'open'});
    const adContainer = document.createElement('div');
    adContainer.id = 'ad-slot';
    adContainer.style.cssText = 'height: 250px; width: 300px;';
    shadow.appendChild(adContainer);
  </script>
{% endblock %}
{% block styles %}
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
{% endblock %}