{% extends '../../src/_includes/sample-layout.njk'%}
{% block html %}
  <div class="banner-container">
    <div id="banner-ad" style="width: 728px; height: 90px"></div>
  </div>

  <div class="column-layout">
    <div class="left-column"></div>

    <div class="main-column" id="target-div-id">
      <span id="status">Web interstitial is not supported on this page.</span>
      <p>
        <!--
            You can prevent specific links from triggering GPT-managed web
            interstials by adding a data-google-interstitial="false" attribute to
            the anchor element or any ancestor of the anchor element.
          -->
        <a data-google-interstitial="false" href="https://www.example.com/">
          This link will never trigger an interstitial
        </a>
      </p>

      <h2>Article Title</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam finibus
        consequat massa, vel ultrices nibh viverra id. Vestibulum leo arcu,
        malesuada sed suscipit vel, sagittis non ipsum. Nunc ultrices id dolor nec
        venenatis. Phasellus sit amet ultricies neque. Maecenas libero nisl,
        iaculis nec libero et, laoreet semper lacus. Morbi porta lorem sit amet
        luctus imperdiet. Phasellus at luctus nunc. Nam pretium leo eu ultricies
        finibus. Sed tortor purus, mattis non ligula eget, suscipit sodales odio.
      </p>
      <p>
        Sed vel feugiat tortor, quis semper mauris. Aliquam malesuada ligula et
        eros consectetur dictum. Fusce feugiat turpis ante, ut tempor tellus
        luctus eu. Nam convallis, nibh ut vehicula venenatis, felis ipsum
        vulputate quam, vitae pellentesque est est a ligula. Interdum et malesuada
        fames ac ante ipsum primis in faucibus. Fusce dignissim mi sed nisi
        semper, id ultricies nulla fringilla. Donec luctus tempus risus, nec
        commodo mauris venenatis quis. Vivamus efficitur velit sed odio congue, non
        consectetur dolor vehicula.
      </p>
      <p>
        Curabitur cursus urna in mi imperdiet ultricies. Maecenas imperdiet
        lacus et leo rutrum, non vehicula metus pharetra. Phasellus ante orci,
        aliquam sed fringilla eget, ultrices sed sem. Quisque blandit felis et
        porttitor tincidunt. Phasellus vel condimentum eros. Integer quam nulla,
        suscipit eu scelerisque tincidunt, placerat non sapien. In tempor a orci
        a bibendum. Pellentesque elementum, massa vitae bibendum varius, tortor
        ex suscipit ipsum, vitae maximus sapien ex at est. Fusce volutpat, massa
        at commodo vehicula, libero turpis rhoncus nulla, ac fermentum enim arcu
        vitae est. Suspendisse posuere eget lectus vitae rutrum. In quis diam sit
        amet augue venenatis aliquet. Suspendisse dictum vestibulum eros ac consequat.
        In eu lorem tellus. Praesent eget risus tempus, porta lectus sit amet,
        dapibus nisl. Class aptent taciti sociosqu ad litora torquent per conubia
        nostra, per inceptos himenaeos. Phasellus sit amet ultrices ex.
      </p>
      <p>
        Aliquam mi diam, consectetur et venenatis non, mollis vel nulla. Praesent
        egestas libero dui. Nullam posuere egestas lectus. Nam vel elementum
        lorem. In enim nisi, iaculis nec imperdiet a, auctor eget dui. Aenean
        pharetra lorem libero, vel commodo orci rutrum convallis. Suspendisse sed
        lacus id purus pulvinar pharetra sit amet id arcu. Quisque vitae faucibus
        risus, at molestie urna. Curabitur lobortis vel lacus vel faucibus. Sed
        vehicula auctor auctor. Suspendisse neque arcu, posuere eget dignissim
        ut, posuere at tellus. Cras suscipit egestas metus, non vestibulum mi
        aliquam nec. Nam nisi lacus, consectetur nec libero at, placerat feugiat
        turpis. Cras viverra nisi mauris, in sollicitudin risus bibendum et.
        Aliquam id dolor maximus, interdum est vel, placerat orci.
      </p>
      <p>
        Integer et ex viverra, tincidunt ligula ac, eleifend augue. Curabitur id
        egestas eros, et eleifend turpis. Vestibulum ac tortor ullamcorper,
        molestie orci quis, lobortis mauris. Suspendisse vehicula magna ac ipsum
        suscipit, eu dignissim erat dapibus. Morbi in orci ultrices, hendrerit
        risus sed, facilisis nulla. Pellentesque ante sem, pretium at aliquet
        vitae, convallis ac quam. In ultricies mollis elementum. In dignissim,
        sapien non placerat porta, enim sapien elementum ex, nec egestas mi
        velit a massa. Pellentesque eu condimentum quam, at molestie erat.
        Aliquam tincidunt placerat magna, ut gravida justo vehicula eu. Fusce
        scelerisque efficitur sagittis.
      </p>
      <p>
        Vestibulum vitae malesuada velit. Phasellus congue convallis blandit.
        Sed feugiat ante sem, non iaculis turpis eleifend et. Vivamus mauris
        urna, sodales vel semper sed, viverra quis arcu. Ut ornare lacus suscipit
        nisl elementum tincidunt. Pellentesque in elit et est ullamcorper
        commodo. Maecenas nec libero metus. Suspendisse ut leo id dui tincidunt
        consectetur ut nec elit. Proin nec libero rhoncus, consectetur leo et,
        dapibus nulla.
      </p>
      <p>
        Duis in fermentum eros, id scelerisque enim. Aliquam lobortis eu sem ac
        faucibus. Mauris nunc odio, faucibus at metus non, sagittis maximus turpis.
        Suspendisse lectus orci, tincidunt ac orci id, blandit finibus quam. Proin
        rhoncus neque non est ullamcorper tristique. Sed elementum ligula vel
        molestie tristique. Etiam sit amet tellus non purus mollis vulputate.
        Maecenas eu sodales nunc. Donec mollis sapien quis libero elementum
        placerat. Aenean ipsum nulla, dignissim vel pulvinar at, aliquam at massa.
      </p>
      <p>
        Pellentesque odio neque, blandit quis tortor in, ultricies lobortis
        purus. Suspendisse potenti. Etiam suscipit neque magna, sit amet accumsan
        purus malesuada ut. Quisque faucibus vitae turpis nec euismod. Sed aliquam
        velit eget consectetur maximus. Phasellus vitae consequat dui. Aliquam
        dapibus cursus lorem eu sodales. Aliquam id laoreet erat, sit amet luctus
        elit.
      </p>
      <p>
        Cras blandit consectetur risus eget aliquam. Phasellus consequat sem a sem
        fringilla placerat. Fusce at molestie nisi. Nullam ipsum elit, commodo at
        aliquam sit amet, sodales sed sem. Pellentesque massa tellus, interdum
        nec lacinia non, ullamcorper vel eros. Vestibulum id dui volutpat,
        ultrices ante eget, sollicitudin magna. Curabitur malesuada justo
        lectus, et pulvinar nulla vestibulum eget. Praesent quis leo ipsum.
        Nullam magna mauris, vestibulum vel ornare nec, aliquet faucibus justo.
        Donec ut elit elementum, posuere ex id, molestie dui. Phasellus tristique
        augue pellentesque eros volutpat, ac vestibulum urna scelerisque. Proin
        commodo sagittis urna, in dapibus tortor rutrum sed. Phasellus sit amet
        nisi diam. Sed fringilla massa eget euismod iaculis. Sed vulputate purus
        lorem, quis porttitor nulla maximus ac.
      </p>
      <p>
        Fusce bibendum interdum nibh, at pretium quam ornare sit amet. Maecenas
        eu maximus eros, pellentesque aliquam arcu. Vivamus tristique finibus sem,
        non porta diam rhoncus vitae. Praesent et blandit diam. Vestibulum ante
        ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
        Cras vestibulum mollis vestibulum. Integer ultrices sodales malesuada.
        Duis et nunc leo. In imperdiet vitae sapien nec sollicitudin. Mauris
        vitae ex maximus ex vulputate venenatis.
      </p>
    </div>

    <div class="right-column"></div>
  </div>
{% endblock %}
{% block styles %}
  .banner-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .column-layout {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .left-column {
    flex: 1;
    min-width: 150px;
  }

  .main-column {
    flex: 3;
    font-size: 1.25rem;
    min-height: 200vh;
    min-width: 300px;
  }

  .right-column {
    flex: 1;
    min-width: 150px;
  }
{% endblock %}

