{% extends '../../src/_includes/sample-layout.njk'%}
{% block html %}
  <div id="page-content" style="height: 900vh">
    <h1 id="status">Anchor ads are not supported on this page.</h1>
    <div id="static-ad-1" style="width: 100px; height: 100px"></div>
  </div>
{% endblock %}