{% extends '../../src/_includes/sample-layout.njk'%}
{% block html %}
  <span>Ad slot 1</span>
  <div id="ad-slot-1" style="width: 728px; height: 90px"></div>

  <span>Ad slot 2</span>
  <div id="ad-slot-2" style="width: 750px; height: 200px"></div>

  <div class="status">
    <div class="status-row">
      <div class="status-cell"><b>Slot</b></div>
      <div class="status-cell event"><b>Event</b></div>
      <div class="status-cell"><b>Time from ad request</b></div>
    </div>

    <div class="status-container"></div>
  </div>
{% endblock %}
{% block styles %}
  .status,
  .status-row {
    display: inline-table;
    width: 750px;
  }

  .status-container {
    height: 400px;
    overflow: scroll;
    width: 100%;
  }

  .status-row:nth-child(even) {
    background-color: lightsteelblue;
  }

  .status-cell {
    float: left;
    min-width: 15%;
  }

  .status-detail {
    margin: 0;
    padding-left: 1em;
  }

  .event {
    width: 50%;
  }
{% endblock %}